/* .ant-input-disabled {
  background-color: #FFFFFF1A !important;
  color: white !important;
}

.ant-btn-default {
  background-color: #FFFFFF1A !important;
}

.ant-btn-primary {
  background-color: #26bc91 !important;
}

.dexBoxShadow {
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
} */

/* .ant-input {
  background-color: transparent;
  color: white !important;
} */
